Repository Project-MONAI/MONAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KumoLiu, @ericspod, @Nic-Ma, @virginiafdez

.github/CODEOWNERS:

/monai/ @KumoLiu @ericspod @Nic-Ma
/docs/ @KumoLiu @ericspod @Nic-Ma
/tests/ @KumoLiu @ericspod @Nic-Ma
/.github/ @KumoLiu
/monai/networks/schedulers/ @virginiafdez
/monai/inferers/inferer.py @virginiafdez
/monai/losses/adversarial_loss.py @virginiafdez
/monai/losses/perceptual.py @virginiafdez
/monai/networks/blocks/spade_norm.py @virginiafdez
/monai/networks/nets/autoencoderkl.py @virginiafdez
/monai/networks/nets/controlnet.py @virginiafdez
/monai/networks/nets/diffusion_model_unet.py @virginiafdez
/monai/networks/nets/patchgan_discriminator.py @virginiafdez
/monai/networks/nets/spade_autoencoderkl.py @virginiafdez
/monai/networks/nets/spade_diffusion_model_unet.py @virginiafdez
/monai/networks/nets/spade_network.py @virginiafdez
/monai/networks/nets/vqvae.py @virginiafdez

Mypy fixes in tests
  tests/transforms/test_orientation.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Import sorting
  tests/transforms/test_orientation.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Added focal_loss_with_probs and focal activation options in Dice+FL. (Fixes #8242)
  monai/losses/dice.py
  monai/losses/focal_loss.py
  tests/losses/test_dice_focal_loss.py
  tests/losses/test_focal_loss.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Properly formatted files
  monai/losses/focal_loss.py
  tests/losses/test_focal_loss.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Solved type issues (mypy check).
  monai/losses/focal_loss.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Update README badges
  README.md
Owners: none

Add input validation to ImageStats class
  monai/auto3dseg/analyzer.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Style: auto-format analyzer.py to pass black check
  monai/auto3dseg/analyzer.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Typo fix
  .github/workflows/conda.yml
Owners: @KumoLiu

ci: add custom timeout to ci job in order to save resources
  .github/workflows/conda.yml
Owners: @KumoLiu

add kwags in array and functional file
  monai/transforms/spatial/array.py
  monai/transforms/spatial/functional.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Initial version of a slim Dockerfile
  Dockerfile.slim
Owners: none
