Repository Project-MONAI/MONAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KumoLiu, @ericspod, @Nic-Ma, @virginiafdez

.github/CODEOWNERS:

/monai/ @KumoLiu @ericspod @Nic-Ma
/docs/ @KumoLiu @ericspod @Nic-Ma
/tests/ @KumoLiu @ericspod @Nic-Ma
/.github/ @KumoLiu
/monai/networks/schedulers/ @virginiafdez
/monai/inferers/inferer.py @virginiafdez
/monai/losses/adversarial_loss.py @virginiafdez
/monai/losses/perceptual.py @virginiafdez
/monai/networks/blocks/spade_norm.py @virginiafdez
/monai/networks/nets/autoencoderkl.py @virginiafdez
/monai/networks/nets/controlnet.py @virginiafdez
/monai/networks/nets/diffusion_model_unet.py @virginiafdez
/monai/networks/nets/patchgan_discriminator.py @virginiafdez
/monai/networks/nets/spade_autoencoderkl.py @virginiafdez
/monai/networks/nets/spade_diffusion_model_unet.py @virginiafdez
/monai/networks/nets/spade_network.py @virginiafdez
/monai/networks/nets/vqvae.py @virginiafdez

Cleanup
  CHANGELOG.md
Owners: none

Add condition shape checks and docstrings for inferers
  monai/inferers/inferer.py
Owners: @virginiafdez

Extend condition shape checks to pass tests and format docstrings.
  monai/inferers/inferer.py
Owners: @virginiafdez

fixed centering of anchors on grid cells
  monai/apps/detection/utils/anchor_utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

updated unit tests to match new functionality
  tests/apps/detection/utils/test_anchor_box.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Adding whatsnew document
  CHANGELOG.md
  docs/images/maisi_infer.png
  docs/source/whatsnew.rst
  docs/source/whatsnew_1_5.md
Owners: @KumoLiu, @ericspod, @Nic-Ma

further update to unit tests to model test new functionlaity
  tests/apps/detection/utils/test_anchor_box.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Minor updates from comments
  docs/source/whatsnew_1_4.md
  docs/source/whatsnew_1_5.md
Owners: @KumoLiu, @ericspod, @Nic-Ma

Changelog For 1.5 (#8474)
  CHANGELOG.md
  docs/images/maisi_infer.png
  docs/source/whatsnew.rst
  docs/source/whatsnew_1_4.md
  docs/source/whatsnew_1_5.md
Owners: @KumoLiu, @ericspod, @Nic-Ma

Implement PR suggestions
  monai/apps/generation/maisi/networks/autoencoderkl_maisi.py
  tests/apps/maisi/networks/test_autoencoderkl_maisi.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Implement PR suggestions
  tests/apps/maisi/networks/test_autoencoderkl_maisi.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix: ZarrAvgMerger ValueError with zarr_format 3
  monai/inferers/merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add deprecated_arg for compressor and add codecs support for zarr v3
  monai/inferers/merger.py
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix #8479
  tests/integration/test_integration_classification_2d.py
  tests/integration/test_integration_workflows_adversarial.py
  tests/testing_data/integration_answers.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

try fix coverage
  setup.cfg
Owners: none

Fixing URLs in README.md
  README.md
Owners: none

revert coverage config change
  setup.cfg
Owners: none

Fix zarr v3 compatibility in tests by adding proper codec configurations and updating test assertions
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fixing URLs in README.md (#8481)
  README.md
Owners: none

Fix: ZarrAvgMerger tests for zarr v2 compatibility by using Codec objects
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix: DeprecationWarning message check in ZarrAvgMerger tests
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix: E501 line too long errors in test_zarr_avg_merger.py
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix: Apply isort autofix for import sorting and formatting
  monai/inferers/merger.py
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix integration test in 24.10 (#8480)
  tests/integration/test_integration_classification_2d.py
  tests/integration/test_integration_workflows_adversarial.py
  tests/testing_data/integration_answers.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix value assignment
  monai/inferers/merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Update _WITH_NAN
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

cleanup type checks
  monai/inferers/merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix ci
  monai/inferers/merger.py
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix mypy
  monai/inferers/merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix ci
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Removed or Replaced Broken URLs
  docs/requirements.txt
  docs/source/modules.md
Owners: @KumoLiu, @ericspod, @Nic-Ma

update citation
  .github/workflows/weekly-preview.yml
  CHANGELOG.md
  CITATION.cff
Owners: @KumoLiu

Removed or Replaced Broken URLs (#8483)
  docs/requirements.txt
  docs/source/modules.md
Owners: @KumoLiu, @ericspod, @Nic-Ma

remove warning test
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix unsupported codecs in zarr v3
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix: ZarrAvgMerger ValueError with zarr_format 3 (#8477)
  monai/inferers/merger.py
  tests/inferers/test_zarr_avg_merger.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Update citation (#8484)
  .github/workflows/weekly-preview.yml
  CHANGELOG.md
  CITATION.cff
Owners: @KumoLiu

Orientation transform checks for space of a metatensor
  monai/transforms/spatial/array.py
  monai/transforms/spatial/dictionary.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Autofix
  monai/transforms/spatial/array.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add tests
  tests/transforms/test_orientation.py
  tests/transforms/test_orientationd.py
Owners: @KumoLiu, @ericspod, @Nic-Ma
