Repository Project-MONAI/MONAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KumoLiu, @ericspod, @Nic-Ma, @Project-MONAI/core-reviewers

Enable code coverage comments on PRs in codecov configuration (#8402)
  .github/codecov.yml
Owners: @KumoLiu

Adding support policy and some doc updates
  CONTRIBUTING.md
  README.md
  docs/source/installation.md
Owners: @Project-MONAI/core-reviewers

Migrate to modern Python Logger API (#8449)
  monai/apps/auto3dseg/auto_runner.py
  monai/bundle/workflows.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add classifier-free guidance to MONAI inferers and tests for them
  monai/inferers/inferer.py
  tests/inferers/test_controlnet_inferers.py
  tests/inferers/test_diffusion_inferer.py
  tests/inferers/test_latent_diffusion_inferer.py
Owners: @KumoLiu, @ericspod, @Nic-Ma, @Project-MONAI/core-reviewers

DCO Remediation Commit for Virginia Fernandez <virginia.fernandez@kcl.ac.uk>
  tests/inferers/test_latent_diffusion_inferer.py
Owners: @Project-MONAI/core-reviewers

Fix errors.
  monai/inferers/inferer.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

fix #8453
  tests/bundle/test_bundle_download.py
Owners: @Project-MONAI/core-reviewers

fix
  tests/bundle/test_bundle_download.py
Owners: @Project-MONAI/core-reviewers

Adding Support Policy + Doc Updates (#8458)
  CONTRIBUTING.md
  README.md
  docs/source/installation.md
Owners: @Project-MONAI/core-reviewers

Remove deprecated `net_name` in test file (#8461)
  tests/bundle/test_bundle_download.py
Owners: @Project-MONAI/core-reviewers

Enhance prepare_data_folder_api to support 'monai-label' dataset format and update dataroot handling in prepare_bundle_api
  monai/nvflare/utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add nnUNetV2Runner initialization in finalize_bundle for dataset validation
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Update finalize_bundle to support federated training in finalize_bundle_api
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix metrics initialization in compute_validation_metrics for proper label handling
  monai/nvflare/utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add debug prints for HD95, ASD, and Dice metrics in compute_validation_metrics
  monai/nvflare/utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Refactor compute_validation_metrics to correct metric indexing and remove debug prints
  monai/nvflare/utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix initialization of mean summary in compute_validation_metrics to ensure proper metric aggregation
  monai/nvflare/utils.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add debug print for labels in finalize_bundle to aid in validation tracking
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix label handling in finalize_bundle to ensure correct metric logging
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Fix label handling in finalize_bundle to support label formatting and ensure correct metric logging
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

Add warning for missing labels in finalize_bundle to improve metric logging reliability
  monai/nvflare/nvflare_nnunet.py
Owners: @KumoLiu, @ericspod, @Nic-Ma

.github/CODEOWNERS:

/monai/ @KumoLiu @ericspod @Nic-Ma
/docs/ @Project-MONAI/core-reviewers
/tests/ @Project-MONAI/core-reviewers
/.github/ @KumoLiu
